/* cobranza.css */
body.cobranza {
    background: url('../assets/img/img.png') no-repeat center center fixed;
    background-size: cover;
    color: #bf360c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body.cobranza .menu-bar {
    background-color: rgba(191, 54, 12, 0.9);
}

body.cobranza h1, body.cobranza h2 {
    color: #bf360c;
}

body.cobranza .button-container .button {
    background-color: #d84315;
}

body.cobranza .button-container .button:hover {
    background-color: #bf360c;
}
