/* coordinadora.css */
body.coordinadora {
    background: url('../assets/img/img.png') no-repeat center center fixed;
    background-size: cover;
    color: #004d40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body.coordinadora .menu-bar {
    background-color: rgba(0, 77, 64, 0.9);
}

body.coordinadora h1, body.coordinadora h2 {
    color: #004d40;
}

body.coordinadora .button-container .button {
    background-color: #00796b;
}

body.coordinadora .button-container .button:hover {
    background-color: #004d40;
}
