body.coordinadora {
    background: linear-gradient(135deg, #e0f7fa, #80deea);
    color: #006064;
    animation: fadeIn 2s ease-in-out;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

body.coordinadora a {
    color: #004d40;
    text-decoration: none;
    transition: color 0.3s;
}

body.coordinadora a:hover {
    color: #00796b;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-bar {
    background-color: #004d40;
    color: white;
    width: 98%;
    padding: 20px;
    text-align: right;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.welcome-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    margin: 80px auto 20px; /* Ajusta el margen para el header fijo */
    box-sizing: border-box;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #006064;
    margin-top: 0;
}

p {
    line-height: 1.6;
    color: #004d40;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.button {
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    text-align: center;
    margin: 5px;
}

.button:hover {
    background-color: #00796b;
    transform: scale(1.05);
}

.button img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #004d40;
    text-align: center;
    width: 100%;
    padding: 10px;
}
