/* directora.css */
body.directora {
    background: url('../assets/img/img.png') no-repeat center center fixed;
    background-size: cover;
    color: #4a148c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

body.directora .menu-bar {
    background-color: rgba(106, 27, 154, 0.9);
}

body.directora h1, body.directora h2 {
    color: #4a148c;
}

body.directora .button-container .button {
    background-color: #6a1b9a;
}

body.directora .button-container .button:hover {
    background-color: #8e24aa;
}
